<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <h1>Hello World!</h1>
    <form id='generate-password'>
      <input type="number" id='length' name='length'>
      <input type='checkbox' id='number' name='number'>
      <label for=number> Need number? </label>
      <input type='checkbox' id='lowercase' name='lowercase'>
      <label for=lowercase> Need lowercase? </label>
      <input type='checkbox' id='uppercase' name='uppercase'>
      <label for=uppercase> Need uppercase? </label>
      <button type="submit" class="password-generator"> New Password! </button>
      <br>
      <br>
      <output name="new-password" class="password">result</output>
    </form>

    <script type="text/javascript" src="/scripts/client.js"></script>
  </body>
</html>
