<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Home Page</title>
    <!-- outside css links -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- app css links -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <!-- Add Bootstrap meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header>
      <div id="logo" class="container-fluid"><img src="./assets/1x/logo.png" alt="keyboard visual with padlock graphics"></div>

      <nav id="mainnav" class="container-fluid">
        <button type="submit" class="nav_button">REGISTER</button>
        <button type="submit" class="nav_button">LOGIN</button>
      </nav>
    </header>

    <main>
      <div id="hero"><img src="./assets/1397.jpg" alt=""></div>




