// See: https://sass-lang.com/
$primary-color: black;
$primary-blue: #004578;
$primary-red: #da2320;
$headings-font: 'Poppins', sans-serif;
$text-font: 'Open Sans', sans-serif;



body {
  background-color: #EEE;

  h4 {
    color: $primary-red;
    font-family: $headings-font;
    text-align: center;
    padding: 30px 0;
  }
  h5 {
    color: $primary-red;
    font-family: $headings-font;
    text-align: center;
    padding: 30px 0;
  }
  h6 {
      color: $primary-red;
      font-family: $headings-font;
      text-align: left;
  }
}

// nav bar
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #ffffff;
  margin-top: 20px 0;
}
#logo {
  margin: 30px;
}

#mainnav {

  justify-content: space-around;
  width: 100%;
  align-content: center;
  padding-top: 55px;
  height: 100%;
}

#mainnav-home {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-content: center;
  padding-top: 75px;
}

#hero img{
  height: 600px;
  width: 100%;
  margin-bottom: 30px;
}

.nav_button {
  border: none;
  background-color: inherit;
  padding: 14px 28px ;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: $primary-red;
  position: absolute;
  top: 7px;
  height: 80px;
}
.nav_button:hover, .nav_button-home:hover {
  background-color: $primary-red;
  color: #ffffff;
}

.nav_button-home {
  border: none;
  background-color: inherit;
  padding: 14px 28px ;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: $primary-red;
}


#login {
  font-weight: 600;
  margin-top: 30px;
}

.login-info {
  color: #004578;
  font-size: 14px;
  font-family: $text-font;
  font-weight: 300;
  text-align: right;
}

// New website form

#new-site-forms {
  display: none;
  color: $primary-blue;
  font-family: $text-font;
}

#new-website {
  padding-right: 25px;
}


// Generate password form
#generate-password {
  padding-left: 25px;
}

.your-password {
  text-align: left;
  display: inline-block;
  font-weight: 300;
  color: $primary-blue;
  padding: unset;
}

.copiedToClipboard {
  height: 25px;
}

.form-check-label {
  font-size: 0.9rem;
}

.password-button {
  padding-top: 30px;
}

// Edit website form
#edit-form {
    color: $primary-blue;
    font-family: $text-font;
}

// Credentials display area

.credentials{
  text-align: center;
  padding: 30px;
  font-size: 16px;
  word-wrap: break-word;
}

.cred-columns{
  text-align: center;
  padding: 30px;
  opacity: 0.8;

}

.websites-display {
  text-align: left;
  color: $primary-blue;
  font-family: $text-font;
  font-size: 18px;
  margin: auto;
  background-color: #ffffff;
  justify-content: center;
  border: solid;
}

#category-filter {
  color: $primary-blue;
  font-family: $text-font;
  padding-bottom: 20px;
}

// Footer

footer {
  text-align: center;
  font-size: 11px;
  background-color: $primary-blue;
  color: #ffffff;
  margin-top: 50px;
  padding: 15px;
}
