// See: https://sass-lang.com/
$primary-color: black;
$primary-blue: #004578;
$primary-red: #da2320;
$headings-font: 'Poppins', sans-serif;
$text-font: 'Open Sans', sans-serif;


body {
  background-color: #EEE;

  h4 {
    color: $primary-red;
    font-family: $headings-font;
  }
}

// nav bar
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #ffffff;
  margin-top: 20px 0;
}
#logo {
  margin: 30px;
}

#mainnav {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-content: center;
  padding-top: 75px;
}

#hero img{
  height: 600px;
  width: 100%;
  margin-bottom: 30px;
}

.nav_button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: $primary-red;
}

.nav_button:hover {
  background-color: $primary-red;
  color: #ffffff;
}

#login {
  font-weight: 600;
  margin-top: 30px;
}



// Generate password form
#generate-password {
  padding-left: 25px;
  color: $primary-blue;
  font-family: $text-font;
}

#generate-password h4 {
  text-align: center;
  padding: 30px 0;
}

//
.websites-display {
  text-align: center;
  color: $primary-blue;
  font-family: $text-font;
  font-size: 18px;
  margin-left: 45px;
  background-color: #ffffff;
  justify-content: center;
}
